<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {{>header}}

  {{>navbar-bottom}}

  <section class="shoppingCard">

    <h1 class="heading"> <span>Wish list</span> </h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Price</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each wishlist}}
        <tr class="box">
          <th>
            <div class="image">
              <a href="/book/{{this._id}}" class="swiper-slide"><img src="image/{{this.image}}.png" alt="Image of book {{title}}"></a>
            </div>
          </th>

          <th>
            <h3>{{this.title}}</h3>
          </th>

          <th>
            <span class="price">${{this.newPrice}}</span>
          </th>

          <th>
            <div class="remove">
              <a href="wishlist/remove/{{this._id}}" class="fa-solid fa-trash-can"></a>
            </div>

          </th>

          <th>
            <div class="add">
              <a href="cart/add/{{this._id}}" class="btn">Add to cart</a>
            </div>

          </th>
        </tr>
        {{/each}}
      </tbody>
    </table>



  </section>

  {{>login-container}}
  {{>footer-section}}

  <script src="./js/script.js"></script>
</body>

</html>