<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {{>header}}

  {{>navbar-bottom}}

  <div class="book-container">
    {{#with book}}
    <div class="image">
      <img src=" http://localhost:3000/image/{{image}}.png" alt=`Image of book ${{title}}`>
    </div>

    <div class="content">
      <h3>{{title}}</h3>
      <div class="price">Price: ${{newPrice}} <span>${{oldPrice}}</span></div>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
      </div>

      <div class="description">
        <p>Description:</p>
        <span> {{description}}</span>
      </div>


      <a  href="/cart/add/{{_id}}" class="btn">add to cart</a>
    </div>

    {{/with}}
  </div>

  {{>login-container}}
  {{>footer-section}}

  <script src="./js/script.js"></script>
</body>

</html>